<%- include('header.ejs') -%>
    <div style="display: flex;justify-content: flex-start;padding: 8%;flex-direction: column;align-items: stretch;align-content: stretch;flex-wrap: nowrap;"
        id="p-container">

    </div>
    <script>
        const products =<%- s_products %>
            $(document).ready(function () {
               
                showCartProducts();
            });
        function showCartProducts() {
            let cart = localStorage.getItem('cart')
                let cart_items = JSON.parse(cart)
            let innerHtml = ``;
            for (let i of cart_items) {
                const p = products.find(x => x._id == i);
                innerHtml += ` <div class="d-flex justify-content-center">
    <div class="card mb-3 " style="width: 50%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/${p.imgUrl}" class="img-fluid rounded-start" alt="${p.imgDescription}">
        </div>
        <div class="col-md-8 d-flex flex-column align-items-center justify-content-center">
          <div class="card-body">
            <h5 class="card-title">${p.title}</h5>          
            <p class="card-text">Price: ${p.price} $</p>
            <button type="submit" class="btn btn-primary" onclick="removeItem('${p._id}')" >Remove from basket</button>

          </div>
        </div>
      </div>
    </div>
</div>
</div>`;
            }
            document.getElementById("p-container").innerHTML = innerHtml;
        }
   function removeItem(id){
    removeFromCart(id);
    showCartProducts();
   }
   </script>
    <%- include('footer.ejs') -%>