<%- include('header.ejs') -%>
     <div id="signup-box"> 
        <form action="/" method="post">
                
                <h1>Sign up</h1>
                
                <input type="text" name="name" placeholder="name"  />
                <input type="email" name="email" placeholder="E-mail" />
                <input type="password" name="password" placeholder="Password" />
                
                <button type="submit">Sign me up</button> 
            </div>
        </form>  
      <p> if You're allready registered login </p>
        <%- include('footer.ejs') -%>